* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    background-image: url(moviebg.webp);
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url(moviebg.webp);
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        margin-left: 300px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes leftToRight {
    0% {
        opacity: 0;
        margin-right: 50rem;
    }
    100% {
        opacity: 1;
    }
}

.logo {
    animation: leftToRight ease 1s;
}
.logo > img{
    height: 60px;
    cursor: pointer;
}
nav {
    display: flex;
    background-color: black;
    /* background-color:transparent; */
    justify-content: space-around;
    padding-block: 1rem;
    align-items: center;
    background-image: url(moviebg.webp);
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url(moviebg.webp);
}

.signUp {
    width: 8rem;
    height: 2rem;
    background-color: red;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
.signUp:hover{
    cursor: pointer;
    background-color: rgb(201, 15, 15);
}
.p-heading {
    font-size: 30px;
    animation: rightToLeft ease 1s;
}

.p-description {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
    animation: leftToRight ease 1s;
}


.start-button > button{
    font-size: 20px;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    transition: 1s;
    animation: leftToRight ease 1s;
}



.purpose {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 0 0 4em black;
    padding-top: 270px;
    padding-bottom: 200px;
}

.start-button> button:hover {
    cursor: pointer;
    background-color: rgb(201, 15, 15);
}

@media screen and (max-width: 600px){
    nav {
        flex-direction: column;
    }

    .logo {
        margin-top: 30px;
    }

    .signUp {
        margin-top: 25px;
        animation: rightToLeft ease 1s;
    }

}